$primary-color: #007bff; // Light blue
$secondary-color: #ffc107; // Yellow
$dark-green: #0F6B00;
$light-green: #23CB08;
$dark-red: #6B0000;
$light-red: #CB0808;
$dark-grey: #929292;
$light-grey: #B8B8B8;
