@import "colors";
@import "header";
@import "eula";
@import "question";
@import "result";
@import "end";

// Base styles
body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: #333; // Dark gray text
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative; // Needed for ::before pseudo-element

  &::before {
    content: "";
    background-image: url("../assets/background.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
  }

  #root{
    position: absolute;
  }
}

.container {
  margin: 0 100px;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: #fff; // White background
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); // Lighter box shadow
}

// Form
.form {
  label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }

  input[type='text'] {
    width: 90%;
    padding: 12px;
    border: 2px solid $primary-color;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #fff; // White background
    color: #333; // Dark gray text
    outline: none;
  }
}

button.primary{
    background-color: $primary-color;
    color: #fff; // White text
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover:not([disabled]) {
      background-color: darken($primary-color, 10%);
    }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
