.question{
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
  align-items: center;
}
.options{
  display: flex;
  gap: 40px;
  max-width: 70%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;

  .container{
    width: 300px;
    border: none;
    margin: 0;
  }
}
